## 6.5

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-05-10 23:23:11,-23.1203,-134.9692,76.87,70,3,15.66
1,1,Hilo,US,2022-05-10 23:23:42,19.7297,-155.0900,82.27,77,75,13.80
2,2,East London,ZA,2022-05-10 23:26:15,-33.0153,27.9116,66.58,42,100,6.06
3,3,Vostok,RU,2022-05-10 23:26:15,46.4856,135.8833,60.73,30,87,1.86
4,4,Bonaventure,CA,2022-05-10 23:26:16,48.0457,-65.4926,59.58,63,56,9.26

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

### general syntax for creating a heatmap for the maximum temperature

1. Assign the locations to an array of latitude and longitude pairs.

locations = [latitude, longitude]

2. Assign the weights variable to some values.

temperatures = # an array of length equal to the locations array length

3. Assign the figure variable to the gmaps.figure() attribute.

fig = gmaps.figure()

4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

5. Add the heatmap layer.

fig.add_layer(heatmap_layer)

6. Call the figure to plot the data.

fig

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
#== [max(temp, 0) for temp in max_temp]

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-05-10 23:23:11,-23.1203,-134.9692,76.87,70,3,15.66
1,1,Hilo,US,2022-05-10 23:23:42,19.7297,-155.0900,82.27,77,75,13.80
12,12,Veraval,IN,2022-05-10 23:26:19,20.9000,70.3667,82.35,82,76,17.47
15,15,Basco,PH,2022-05-10 23:26:21,20.4487,121.9702,83.84,72,36,18.70
18,18,Jamestown,US,2022-05-10 23:21:38,42.0970,-79.2353,76.64,12,0,0.00
20,20,Muli,MV,2022-05-10 23:26:23,2.9167,73.5667,84.27,77,86,19.60
23,23,Popondetta,PG,2022-05-10 23:26:25,-8.7537,148.2534,78.89,83,100,1.43
29,29,Bolitoc,PH,2022-05-10 23:26:28,15.7395,119.8769,83.66,68,14,3.09
33,33,Valle De Allende,MX,2022-05-10 23:26:30,26.9333,-105.4000,77.43,28,51,17.63
35,35,Beihai,CN,2022-05-10 23:26:31,21.4833,109.1000,76.10,93,100,4.09

In [25]:
# Check any null values for any of the rows.
preferred_cities_df.count()

City_ID       194
City          194
Country       194
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
0            Rikitea      PF     76.87 -23.1203 -134.9692
1               Hilo      US     82.27  19.7297 -155.0900
12           Veraval      IN     82.35  20.9000   70.3667
15             Basco      PH     83.84  20.4487  121.9702
18         Jamestown      US     76.64  42.0970  -79.2353
20              Muli      MV     84.27   2.9167   73.5667
23        Popondetta      PG     78.89  -8.7537  148.2534
29           Bolitoc      PH     83.66  15.7395  119.8769
33  Valle De Allende      MX     77.43  26.9333 -105.4000
35            Beihai      CN     76.10  21.4833  109.1000

## 6.5.4

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,76.87,-23.1203,-134.9692,People ThankYou
1,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Veraval,IN,82.35,20.9000,70.3667,Lords Inn Somnath
15,Basco,PH,83.84,20.4487,121.9702,Nathaniel's Lodge
18,Jamestown,US,76.64,42.0970,-79.2353,Hampton Inn & Suites Jamestown
20,Muli,MV,84.27,2.9167,73.5667,Medhufushi Island Resort
23,Popondetta,PG,78.89,-8.7537,148.2534,Timos Transit House
29,Bolitoc,PH,83.66,15.7395,119.8769,Seasun Beach Resort & Hotel
33,Valle De Allende,MX,77.43,26.9333,-105.4000,Hotel Meson de San Bartolome
35,Beihai,CN,76.10,21.4833,109.1000,21 Degree Hostel

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]